

.Home-container {
    .cloundText {
        font-size: 16px;
        font-weight: 500;
    }
    .craftImage {
        display: flex;
        img {
            width: 100%;
        }
        .bii {
            width: 10vw;
        }
        .bi {
            width: 7vw;
            height: 100px;
        }
    }
}