

.Search-container {

    .input-container {
        width: 400px;
        height: 200px;
        margin: 0 auto;
        margin-top: 100px;
        background-image: url("/img/8.jpg");
        background-size: 400px;
        opacity: .7;
        box-shadow: 1px 1px 20px rgba(0,0,0,1);
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        input[type="text"] {
            font-family: "STXingkai","Ink Free";
            width: 300px;
            height: 30px;
            font-size: 16px;
            padding-left: 20px;
            border: none;
            outline: none;
        }
        button {
            font-family: "Ink Free";
            font-weight: bold;
        }
    }
    .result {
        margin-top: 100px;
        height: 20vh;
    }
    h4 {
        text-align: center;
    }
}